<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <title>Ana Sayfa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="shortcut icon" href="images/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="styles/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  </head>
<body>
    <section class="desktop">
      <header>
        <script>
          $(function(){
              $('header').load('/parts/header_desktop.html');
          });
        </script>
      </header>
      <main>
          <div class="giris">
              <div class="desc">
                  <h1 key="4">Atık Yağlarınız Can Almasın Evinizi Aydınlatsın</h1>
                  <h5 key="5">Atık yağları arındırarak estetik algınıza göre mumlar yapıyoruz.</h5>
                  <a href="#"><button key="6">Ürünlerimiz</button></a>
              </div>
          </div>        
          <div class="faq">
            <div class="baslik">
              <div class="cizgi">
                <hr>
              </div>
              <h1 key="10">Hakkımızda Sıkça Sorulan Sorular?</h1>
            </div>
            <div class="sorular">
              <div class="s1 s">
                <div class="sorusayi">
                  <span class="sayi">1</span>
                  <h2 key="11">Hangi tür atık yağlar kullanıyorsunuz?</h2>
                </div>
                
                <div class="c1 c">
                  <p key="12">Sizlere çevreci ve sürdürülebilir bir ürün sunabilmek adına, kullanılan atık yağlar genellikle kızartma yağlarıdır. Bu yağlar, tüketim sonrasında atık olarak ortaya çıkar ve yeniden işlenerek mum üretiminde değerlendirilir. Böylece, atık yağların doğru bir şekilde bertaraf edilmesi sağlanırken, aynı zamanda çevreye olan olumsuz etkileri de azaltılmış olur.</p>
                </div>
              </div>
              
              <div class="s2 s">
                <div class="sorusayi">
                  <span class="sayi">2</span>
                  <h2 key="13">Ürünüm deneyimim ile ilgili geri dönüş vermek istiyorum nereden yapabilirim?</h2>
                </div>

                <div class="c2 c">
                  <p key="14">Ürün deneyimleriniz bizim için çok değerli! Lütfen bize e-posta yoluyla ya da WhatsApp üzerinden geri bildirimlerinizi aktarın. Tüm deneyimlerinizi dikkatle okuyor ve bu yönlere dair iyileştirmeler yapmak için çaba sarf ediyoruz. Sizin görüşleriniz, ürünlerimizi daha iyi hale getirmemizde bize rehberlik ediyor.</p>
                </div>

              </div>
              <div class="s3 s">
                <div class="sorusayi">
                  <span class="sayi">3</span>
                  <h2 key="15">Ne tür kokular kullanıyorsunuz?</h2>
                </div>

                <div class="c3 c">
                  <p key="16">Müşteri memnuniyetini ön planda tutarak, çeşitli kokular sunmaktan mutluluk duyuyoruz. Elimizde yaklaşık 10 farklı koku bulunmaktadır. Bu kokular arasında çiçeksi, meyveli, odunsu ve ferahlatıcı notalar bulunmaktadır. Müşterilerimize özel tercihlerine ve ihtiyaçlarına göre çeşitli seçenekler sunmaktan memnuniyet duyarız.</p>
                </div>
              </div>
              <div class="s4 s">
                <div class="sorusayi">
                  <span class="sayi">4</span>
                  <h2 key="17">EcoTech mumumu nereye koymalıyım/nasıl saklamalıyım?</h2>
                </div>

                <div class="c4 c">
                  <p key="18">EcoTech mumunuzu, normal mumları sakladığınız gibi saklayabilirsiniz. Oda sıcaklığında, direkt güneş ışığından ve aşırı sıcaklık değişimlerinden uzak bir yerde muhafaza etmek en iyisidir. Ayrıca, mumu kapalı bir kapta veya orijinal ambalajında tutmak, mumunun ömrünü uzatmaya ve kokusunu korumasına yardımcı olacaktır. Güvenli bir şekilde saklanması, mumunuzun uzun süre dayanmasını ve en iyi performansı sergilemesini sağlayacaktır.</p>
                </div>
              </div>
              <div class="s5 s">
                <div class="sorusayi">
                  <span class="sayi">5</span>
                  <h2 key="19">Ürününüzün doğaya katkısı nedir?</h2>
                </div>

                <div class="c5 c">
                  <p key="20">Ürünümüz, atık yağların yeniden kullanımını sağlayarak doğaya olumlu bir katkı sağlıyor. Atık yağları geri dönüştürerek çevreye zarar veren atık miktarını azaltıyor ve aynı zamanda temiz enerji kaynağı olan mumları üretiyoruz. Bu sayede doğal kaynakların korunmasına ve sürdürülebilir bir geleceğe katkıda bulunuyoruz.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="duyuru" ng-app="myApp" ng-controller="DuyurularController">
            <h1>DUYURULAR</h1>
            <div class="duyuruContainer" ng-repeat="duyuru in duyurular">
                <div class="duyuruImg">
                    <div class="duyuruImgContent">
                        <img ng-src="{{duyuru.imageUrl}}">
                    </div>
                </div>
                <div class="duyuruDesc">
                    <div class="duyuruBaslik">
                        <h2>{{duyuru.baslik}}</h2>
                    </div>
                    <div class="duyuruAciklama">
                        <p>{{duyuru.aciklama}}</p>
                    </div>
                </div>
            </div>
        </div>

      </main>
      <footer>
        <script>
          $(function(){
            $('footer').load('/parts/footer_desktop.html');
          });
        </script>
      </footer>
      <script src="scripts/script.js"></script>
  </section>

  <section class="mobile">
      <header>
        <script>
          $(function(){
              $('.mobile header').load('/parts/header_mobile.html');
          });
        </script>
    </header>

    <main>
        <div class="giris">
            <h1 key="21">Odanızdaki Işık Geleceğinizi Aydınlatsın</h1>
            <button key="1">Ürünlerimiz</button>
        </div>

        <div class="products">
            <h1 key="1">Ürünlerimiz</h1>
            <h4 key="38">Bir Mum Hayatınızı Değiştirebilir.</h4>
            <div class="u1 u">
                <div class="desc">
                    <h5 key="7">Kokonat Mumlar</h5>
                </div>
                <div class="photo">
                    <img src="../images/u1.png" alt="">
                </div>
            </div>
            <div class="u2 u">
                <div class="desc">
                    <h5 key="8">Deniz Kabuğu Mumlar</h5>
                </div>
                <div class="photo">
                    <img src="../images/u2.png" alt="">
                </div>
            </div>
            <div class="u3 u">
                <div class="desc">
                    <h5 key="9">Kokulu Mumlarımız</h5>
                </div>
                <div class="photo">
                    <img src="../images/u3.png" alt="">
                </div>
            </div>
            <div class="dahafazla">
                <button key="39">Daha Fazla Bilgi</button>
            </div>  
        </div>

        <div class="faq">
          <div class="baslik">
            <hr>
            <div class="baslikText">
              <h1 key="10">Hakkımızda Sıkça Sorulan Sorular?</h1>
            </div>
          </div>
          <div class="sorular">
            <div class="s1 s">
              <div class="sorusayi">
                <span class="sayi">1</span>
                <h2 key="11">Hangi tür atık yağlar kullanıyorsunuz?</h2>
              </div>
              
              <div class="c1 c">
                <p key="12">Sizlere çevreci ve sürdürülebilir bir ürün sunabilmek adına, kullanılan atık yağlar genellikle kızartma yağlarıdır. Bu yağlar, tüketim sonrasında atık olarak ortaya çıkar ve yeniden işlenerek mum üretiminde değerlendirilir. Böylece, atık yağların doğru bir şekilde bertaraf edilmesi sağlanırken, aynı zamanda çevreye olan olumsuz etkileri de azaltılmış olur.</p>
              </div>
            </div>
            
            <div class="s2 s">
              <div class="sorusayi">
                <span class="sayi">2</span>
                <h2 key="13">Ürünüm deneyimim ile ilgili geri dönüş vermek istiyorum nereden yapabilirim?</h2>
              </div>

              <div class="c2 c">
                <p key="14">Ürün deneyimleriniz bizim için çok değerli! Lütfen bize e-posta yoluyla ya da WhatsApp üzerinden geri bildirimlerinizi aktarın. Tüm deneyimlerinizi dikkatle okuyor ve bu yönlere dair iyileştirmeler yapmak için çaba sarf ediyoruz. Sizin görüşleriniz, ürünlerimizi daha iyi hale getirmemizde bize rehberlik ediyor.</p>
              </div>

            </div>
            <div class="s3 s">
              <div class="sorusayi">
                <span class="sayi">3</span>
                <h2 key="15">Ne tür kokular kullanıyorsunuz?</h2>
              </div>

              <div class="c3 c">
                <p key="16">Müşteri memnuniyetini ön planda tutarak, çeşitli kokular sunmaktan mutluluk duyuyoruz. Elimizde yaklaşık 10 farklı koku bulunmaktadır. Bu kokular arasında çiçeksi, meyveli, odunsu ve ferahlatıcı notalar bulunmaktadır. Müşterilerimize özel tercihlerine ve ihtiyaçlarına göre çeşitli seçenekler sunmaktan memnuniyet duyarız.</p>
              </div>
            </div>
            <div class="s4 s">
              <div class="sorusayi">
                <span class="sayi">4</span>
                <h2 key="17">EcoTech mumumu nereye koymalıyım/nasıl saklamalıyım?</h2>
              </div>

              <div class="c4 c">
                <p key="18">EcoTech mumunuzu, normal mumları sakladığınız gibi saklayabilirsiniz. Oda sıcaklığında, direkt güneş ışığından ve aşırı sıcaklık değişimlerinden uzak bir yerde muhafaza etmek en iyisidir. Ayrıca, mumu kapalı bir kapta veya orijinal ambalajında tutmak, mumunun ömrünü uzatmaya ve kokusunu korumasına yardımcı olacaktır. Güvenli bir şekilde saklanması, mumunuzun uzun süre dayanmasını ve en iyi performansı sergilemesini sağlayacaktır.</p>
              </div>
            </div>
            <div class="s5 s">
              <div class="sorusayi">
                <span class="sayi">5</span>
                <h2 key="19">Ürününüzün doğaya katkısı nedir?</h2>
              </div>

              <div class="c5 c">
                <p key="20">Ürünümüz, atık yağların yeniden kullanımını sağlayarak doğaya olumlu bir katkı sağlıyor. Atık yağları geri dönüştürerek çevreye zarar veren atık miktarını azaltıyor ve aynı zamanda temiz enerji kaynağı olan mumları üretiyoruz. Bu sayede doğal kaynakların korunmasına ve sürdürülebilir bir geleceğe katkıda bulunuyoruz.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="duyuru" ng-app="myApp" ng-controller="DuyurularController">
          <h1>DUYURULAR</h1>
          <div class="duyuruContainer" ng-repeat="duyuru in duyurular">
              <div class="duyuruImg">
                  <div class="duyuruImgContent">
                      <img ng-src="{{duyuru.imageUrl}}">
                  </div>
              </div>
              <div class="duyuruDesc">
                  <div class="duyuruBaslik">
                      <h2>{{duyuru.baslik}}</h2>
                  </div>
                  <div class="duyuruAciklama">
                      <p>{{duyuru.aciklama}}</p>
                  </div>
              </div>
          </div>
      </div>

    </main>
    <footer>
      <script>
        $(function(){
            $('.mobile footer').load('/parts/footer_mobile.html');
        });
      </script>
    </footer>
    <script src="scripts/mobilescripts.js"></script>
  </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="scripts/language.js"></script>
    <script src="/scripts/duyuruscript.js"></script>
</body>
</html>