/* Tablo genel stil */
table {
    width: 100%; /* Tablonun genişliğini ayarlar */
    border-collapse: collapse; /* Hücreler arasındaki boşluğu kaldırır */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Tablo başlığı (header) stil */
th {
    background-color: #f2f2f2; /* Başlık arka plan rengi */
    padding: 8px; /* Başlık içeriği ile kenar boşluğu */
    text-align: left; /* Başlık metni sola yaslanır */
}

/* Tablo hücreleri stil */
td {
    padding: 8px; /* Hücre içeriği ile kenar boşluğu */
}

/* Alternatif satır arka plan rengi */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Fare hücrelerine gelince stil */
tr:hover {
    background-color: #f2f2f2;
}

/* Sütunlar arasında boşluk bırakma */
td:not(:last-child),
th:not(:last-child) {
    padding-right: 20px; /* Sağ kenar boşluğu */
}
th:nth-child(3) {
    width: 20%;
}
form{
    display: flex;
    align-items: center;
}
form input[type="submit"] {
    margin-left: 4%;
    background: none;
    border: 1px solid black;
    padding: 5px 10px;
}
table a {
    color: black;
}
