<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="EcoTech, Genç Başarı Eğitim Vakfı'nın Genç Bizz Lise Girişimcilik Programı kapsamında liseli ögrencilerin girişimciligi, sirket kurmayı ve yönetmeyi ögrenmesi amacıyla Yıldız Teknik Üniversitesi Maçka Mesleki Ve Teknik Anadolu Lisesi ögrencileri tarafından oluşturulan girişimcilik şirketidir.">
    <meta name="keywords" content="mum, gençbizz, geridönüşüm, ecotech, ecotech gençbizz">
    <meta name="author" content="EcoTech">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="shortcut icon" href="/images/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/productstyle.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js" integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <title>Ürünlerimiz - EcoTech</title>
</head>

<body ng-app="myApp" ng-controller="ProductController">
    <header>
        <script>
                if (window.innerWidth > 850) {
                    $(function(){
                        $('header').load('/parts/header_desktop.html');
                    });
                }
                else {
                    $(function(){
                    $('header').load('/parts/header_mobile.html');
                });
                }
                
            window.addEventListener('resize', function() {
                if (window.innerWidth > 850) {
                    $(function(){
                        $('header').load('/parts/header_desktop.html');
                    });
                }
                else {
                    $(function(){
                    $('header').load('/parts/header_mobile.html');
                });
                }
            });
          </script>
    </header>
    <section>
        <div class="featured-area">
            <div class="">
                <div class="featured-tab-area">
                    <div class="filtre">
                        <div class="">
                            <ul class="tabs">
                                <li class="active">
                                    <a href="#" key="45">
                                        Hepsi
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#" key="46">
                                        Kokulu
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#" key="47">
                                        Dekoratif
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#" key="48">
                                        Doğal
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                      <div class="productsWrapper" ng-app="myApp" ng-controller="ProductController">
                        <div ng-repeat="product in products">
                            <div class="featured-item">
                                <div class="featured-item-details">
                                    <a href="#">
                                        <img ng-src="{{product.imageUrl}}" alt="Images">
                                        <h3>{{product.name}}</h3>
                                    </a>
                                </div>
                                <div class="content">
                                    <hr>
                                    <div class="content-in">
                                        <h4>{{product.price}}</h4>
                                        <span>({{product.rating}})<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-star-fill" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                          </svg></span>
                                    </div>
                                    <hr>
                                    <div class="featured-content-list">
                                        <button type="button" ng-click="addToCart(product)" class="add" key="49" id="liveToastBtn">Sepete Ekle</button>
                                        <div class="toast-container position-fixed bottom-0 end-0 p-3">
                                            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                              <div class="toast-header">
                                                <img src="..." class="rounded me-2" alt="...">
                                                <strong class="me-auto">Bootstrap</strong>
                                                <small>11 mins ago</small>
                                                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                              </div>
                                              <div class="toast-body">
                                                Hello, world! This is a toast message.
                                              </div>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <script>
            if (window.innerWidth > 850) {
                $(function(){
                    $('footer').load('/parts/footer_desktop.html');
                });
            }
            else {
                $(function(){
                $('footer').load('/parts/footer_mobile.html');
            });
            }
            
        window.addEventListener('resize', function() {
            if (window.innerWidth > 850) {
                $(function(){
                    $('footer').load('/parts/footer_desktop.html');
                });
            }
            else {
                $(function(){
                $('footer').load('/parts/footer_mobile.html');
            });
            }
        });
      </script>
    </footer>
    
    <script src="../scripts/Productscript.js"></script>
    <script src="../scripts/language.js"></script>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Bootstrap JS -->
    <script src="/scripts/mobilescripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>
