section {
  margin-top: 150px;
}
.productsWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.featured-item{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px;
  margin: 20px;
}
.featured-item-details img {
  width: 340px;
  height: 350px;
  border: 5px solid white;
}
.content {
  width: 340px;
}
.featured-item-details img:hover {
  animation: image 0.5s forwards;
}
@keyframes image {
  0% {
    border: 5px solid white;
  }
  100% {
    border: 0;
  }
}
.featured-item-details h3 {
  overflow: hidden;
  white-space: nowrap;
  color: black;
}

.content-in {
  display: flex;
  justify-content: space-between;
}
.featured-tab-area {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.featured-content-list button {
  width: fit-content;
  padding: 8px 16px;
  margin: 10px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: green;
  color: white;
}
.featured-content-list button:hover {
  animation: buttonHover 0.5s forwards;
}
@keyframes buttonHover {
  0% {
    background-color: green;
  }
  100% {
    background-color: rgb(14, 43, 33);
  }
}
.tabs {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: center;
}
.tabs li {
  width: 100px;
  list-style: none;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 10px;
}
.tabs li a {
  color: black;
  text-decoration: none;
}
.active {
  border: none !important;
  width: fit-content;
  background-color: green;
  padding: 0;
  color: white;
  border-radius: 10px;
}
.active a{
  color: white !important;
}
@media screen and (max-width: 850px) {
  section {
    margin-top: 150px;
  }
  .productsWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .featured-item{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px;
    border: 3px solid white;
    margin: 20px;
  }
  .featured-item-details img {
    width: 200px;
    height: 200px;
    border-radius: 6px;
    border: 0;
  }
  .content {
    width: 200px;
  }
  .featured-item-details h3 {
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    color: black;
  }
  
  .content-in {
    display: flex;
    justify-content: space-between;
  }
  .featured-tab-area {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .featured-content-list button {
    width: fit-content;
    padding: 5px 10px;
    margin: 10px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: green;
    color: white;
  }
  .featured-content-list button:hover {
    animation: buttonHover 0.5s forwards;
  }
  @keyframes buttonHover {
    0% {
      background-color: green;
    }
    100% {
      background-color: rgb(14, 43, 33);
    }
  }
  .tabs {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tabs li {
    text-align: center;
    width: 100px;
    list-style: none;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid black;
  }
  .tabs li a {
    color: black;
    text-decoration: none;
  }
  .active {
    border: none !important;
    width: fit-content;
  }
  .active a{
    color: white !important;
  }
}
